# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Virtual environment
env/
venv/
ENV/
VENV/

# Django specific
*.log
*.pot
*.py[cod]
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
local_settings.py

# Migrations
*/migrations/*
!*/migrations/__init__.py

# Testing
.coverage
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# PyCharm
.idea/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Others
*.swp
*.swo
*.~undo-tree
*~
